@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@*<h2>Inventory</h2>*@

<script>


    var config = {
        GetData: {
            url: '@Url.Action("AJAXGetData", "Inventory")'
        }
    };


    function GetData(action, sortOption) {
        //alert(action)
        let dataObj = JSON.stringify({
            Action: action,
            SortOption: sortOption,
        });
        $.ajax({
            type: "POST",
            url: config.GetData.url,
            data: JSON.stringify(dataObj),
            data: { "dataObj": dataObj },
            cache: false,
            success: function (response) {
                if (response.Exception == "N") {
                    $("#recordsReturned").html(`<h4 class='alert alert-primary' style='text-align: center; font-size: medium; font-weight: bold; width: 90%; border: 1px solid black; border-color: #000000; background-color: #cc7b9d; color: #ffffff;'>` +
                        `${response.RecordCount} Items - Current as of: ${response.DisplayTime}</h4>`);
                    if (response.RecordCount > 0) {
                        showData(response);
                        $("#content").show();
                    }
                    else {
                        $("#divMsg").html(`<label class='alert alert-danger' style='text-align: center; font-size: medium; font-weight: bold'>${response.ApplicationMessage}</label>`);
                        $("#content").hide();
                    }
                }
                else {
                    $("#divMsg").html(`<label class='alert alert-danger' style='text-align: center; font-size: medium; font-weight: bold'>${response.ExceptionMessage}</label>`);
                    $("#content").hide();
                }
            },
        });
    }
    $(document).ready(function () {
        GetData("GET", "1");
    });

    function showData(response) {
        let spanNoIcon = '</th>';
        let spanIcon = `<span class="${response.SortIcon}"></span></th>`;
        let font = "font-size: 16px; color: #ffffff;";
        let rowColor = "#c41c46";
        let html = "";
        html += `<tr style="background-color: ${rowColor};">`;
        html += `<th style="display: none;" field="IngredientID"></th>`;   // don't display IngredientID
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="ItemNumber" onclick="sortByField(this); return false;"><a>Item Number</a>`;
        html += response.SortColumn == "ItemNumber" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="IngredientDescription" onclick="sortByField(this); return false;"><a>Ingredient Description</a>`;
        html += response.SortColumn == "IngredientDescription" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="IngredientCategory" onclick="sortByField(this); return false;"><a>Ingredient Category</a>`;
        html += response.SortColumn == "IngredientCategory" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="StockCount" onclick="sortByField(this); return false;"><a>StockCount</a>`;
        html += response.SortColumn == "StockCount" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="UOM" onclick="sortByField(this); return false;"><a>Unit Of Measurement</a>`;
        html += response.SortColumn == "UOM" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="CostPerUnit" onclick="sortByField(this); return false;"><a>Cost Per Unit</a>`;
        html += response.SortColumn == "CostPerUnit" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="Location" onclick="sortByField(this); return false;"><a>Location</a>`;
        html += response.SortColumn == "Location" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="ReorderLevel" onclick="sortByField(this); return false;"><a>Reorder Level</a>`;
        html += response.SortColumn == "ReorderLevel" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="ReorderQty" onclick="sortByField(this); return false;"><a>Reorder Quantity</a>`;
        html += response.SortColumn == "ReorderQty" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="LastReorderDate" onclick="sortByField(this); return false;"><a>Last Reorder Date</a>`;
        html += response.SortColumn == "LastReorderDate" ? spanIcon : spanNoIcon;
        html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="Supplier" onclick="sortByField(this); return false;"><a>Supplier</a>`;
        html += response.SortColumn == "Supplier" ? spanIcon : spanNoIcon;
        //html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="CreateUser" onclick="sortByField(this); return false;"><a>Create User</a>`;
        //html += response.SortColumn == "CreateUser" ? spanIcon : spanNoIcon;
        //html += `<th style="text-align: center; width: 10px; font-size: 12px; color: #ffffff" field="CreateDate" onclick="sortByField(this); return false;"><a>Create Date</a>`;
        //html += response.SortColumn == "CreateDate" ? spanIcon : spanNoIcon;
        html += `</tr>`;
        $("#tblData thead").html(html);
        html = ``;
        for (i = 0; i < response.RecordCount; ++i) {
            rowColor = rowColor == "#cc7b9d" ? "#c41c46" : "#cc7b9d";
            html += `<tr style="background-color: ${rowColor};">`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].ItemNumber}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].IngredientDescription}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].IngredientCategory}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].StockCount}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].UOM}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].CostPerUnit ?? ''}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].Location}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].ReorderLevel}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].ReorderQty}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].LastReorderDate}</td>`;
            html += `<td style="text-align: center; ${font}">${response.DisplayViewList[i].Supplier}</td>`;
            html += `</tr>`;
        }
        $("#tblData tbody").html(html);
    }
    function sortByField(obj) {
        let columnName = $(obj).attr("field");
        let sortA = $(obj).find("span").hasClass("bi-caret-up-fill");
        let sortOption = "";;
        switch (columnName) {
            case "ItemNumber":
                sortOption = sortA ? "2" : "1";
                break;
            case "IngredientDescription":
                sortOption = sortA ? "4" : "3";
                break;
            case "IngredientCategory":
                sortOption = sortA ? "6" : "5";
                break;
            case "StockCount":
                sortOption = sortA ? "8" : "7";
                break;
            case "UOM":
                sortOption = sortA ? "10" : "9";
                break;
            case "CostPerUnit":
                sortOption = sortA ? "12" : "11";
                break;
            case "Location":
                sortOption = sortA ? "14" : "13";
                break;
            case "ReorderLevel":
                sortOption = sortA ? "16" : "15";
                break;
            case "ReorderQty":
                sortOption = sortA ? "18" : "17";
                break;
            case "LastReorderDate":
                sortOption = sortA ? "20" : "19";
                break;
            case "Supplier":
                sortOption = sortA ? "22" : "21";
                break;
            //case "CreateUser":
            //    sortOption = sortA ? "24" : "23";
            //    break;
            //case "CreateDate":
            //    sortOption = sortA ? "26" : "25";
            //    break;
        }
        GetData("GET", sortOption)
    }

</script>

<div id="content">
    <button onclick="scrollToTop()" id="btnToTop" class="btn btn-primary" title="Go to top" style="width: 50px; position: fixed; bottom: 60px; right: 25px; z-index: 99; background-color: #cc7b9d; border-color: #000000;"><span class="bi-arrow-up"></span></button>
    <button onclick="scrollToBottom()" id="btnToBottom" class="btn btn-primary" title="Go to bottom" style="width: 50px; position: fixed; bottom: 20px; right: 25px; z-index: 99; background-color: #cc7b9d; border-color: #000000;"><span class="bi-arrow-down"></span></button>
    <div id="recordsReturned"></div>
    <table id="tblData" class="table" style="table-layout: fixed; border: 1px solid black; border-color: #000000; width: 90%;">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
<div id="divMsg"></div>